apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: code-server
spec:
  type: {{ .Values.service.type }}
  selector:
    app: code-server
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8443
      nodePort: {{ .Values.service.nodePort }}
      name: http
