apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "flink.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flink.labels" . | nindent 4 }}
data:
  flink-conf.yaml: |
    jobmanager.rpc.address: {{ include "flink.fullname" . }}-jobmanager
    jobmanager.rpc.port: {{ .Values.jobmanager.rpcPort }}
    jobmanager.bind-host: 0.0.0.0
    jobmanager.memory.process.size: 1024m
    taskmanager.bind-host: 0.0.0.0
    taskmanager.host: 0.0.0.0
    taskmanager.rpc.port: {{ .Values.taskmanager.rpcPort }}
    taskmanager.memory.process.size: 1728m
    taskmanager.numberOfTaskSlots: {{ .Values.taskmanager.taskSlots }}
    parallelism.default: 1
    rest.address: {{ include "flink.fullname" . }}-jobmanager
    rest.bind-address: 0.0.0.0
